.app {
  background-color: #ffffff;

}

footer {
  background: linear-gradient( #ffff ,#7cc51538,#7cc51590);
  background-color: rgba(0, 0, 0, 0.163);
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  bottom: 0;
}

img {
  width: 150px !important;
  height: 150px !important;
  padding-top: 97px;
}
