<section>
  <div id="section">
    <div>
      <div class="contentLogo">
        <br />
        <img src="../../../assets/imagens/logoBranco.svg" />
      </div>
      <div class="triangulo"></div>
    </div>
    <div class="outroMenu">
      <div class="divMenu" (click)="methodEscolha($event, 'home')">
        <button>
          Home
          <img class="img" src="../../../assets/imagens/patinhaMenu.svg" />
        </button>
      </div>
      <div class="divMenu" (click)="methodEscolha($event, 'contato')">
        <button>
          Contato
          <img class="img" src="../../../assets/imagens/patinhaMenu.svg" />
        </button>
      </div>
      <div class="divMenu" (click)="methodEscolha($event, 'doacao')">
        <button>
          Doações
          <img class="img" src="../../../assets/imagens/patinhaMenu.svg" />
        </button>
      </div>
      <div class="divMenu" (click)="methodEscolha($event, 'adocao')">
        <button>
          Adote
          <img class="img" src="../../../assets/imagens/patinhaMenu.svg" />
        </button>
      </div>
      <div class="divMenu" (click)="methodEscolha($event, 'galeria')">
        <button>
          Galeria
          <img class="img" src="../../../assets/imagens/patinhaMenu.svg" />
        </button>
      </div>
      <div class="divMenu" (click)="methodEscolha($event, 'sobreNos')">
        <button>
          Sobre nós
          <img class="img" src="../../../assets/imagens/patinhaMenu.svg" />
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="escolha == 'home'" #home>
    <app-home></app-home>
  </div>
  <div *ngIf="escolha == 'contato'" #contato>
    <app-contact-page></app-contact-page>
  </div>
  <div *ngIf="escolha == 'doacao'" #doacao>
    <app-doacao></app-doacao>
  </div>
  <div *ngIf="escolha == 'galeria'" #galeria>
    <app-galeria></app-galeria>
  </div>
  <div *ngIf="escolha == 'adocao'" #adocao>
    <app-adocao></app-adocao>
  </div>
  <div *ngIf="escolha == 'sobreNos'" #sobreNos>
    <app-sobre-adote-aqui></app-sobre-adote-aqui>
  </div>

</section>
